*{
    margin: 0px;
    padding: 0px;
}
html, body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.hide{
    display: none;
}

#main{
    background: #292929;
}

#text{
    position: absolute;
    top: 0;
    left: 0;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 0.9em;
    color: white;
    text-shadow: 0 0 10px #292929;
}

#capture{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10vw;
    background-color: #26447c;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

video{
    width: 100vw;
    height: 100vh;
    /* height: calc(4/3*100vw); */
}

#map{
    position: absolute;
    overflow: hidden;
    width: 45vw;
    height: 45vw;
    bottom: 0;
    right: 0;
    opacity: 0.6;
}