			<!-- panel left -->
			<div data-role="panel" id="testpanel" data-display="overlay" data-position-fixed="true" >

				<div class='nd2-sidepanel-profile wow fadeInDown'>
					<img class='profile-background' src="img/panel.user.bg.jpg" />
					<div class="row">
						<div class='col-xs-4 center-xs'>
							<div class='box'>
								<img class="profile-thumbnail" src="img/panel.user.thumb.jpg" />
							</div>
						</div>
						<div class='col-xs-8'>
							<div class='box profile-text'>
								<strong>Senjosei</strong>
								<span class='subline'>Super Power User</span>
							</div>
						</div>
					</div>
				</div>
				<ul data-role="listview" data-icon="false" style="margin: 1em -1em">
					<li><a href="#index" class="clr-btn-accent-light-blue"><i class="zmdi zmdi-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;Home</a></li>
					<li class="inset"><a href="#test">Blackberry</a></li>
					<li><a href="#">Tomato</a></li>
					<li><a href="#">Apple</a></li>
					<hr/>
				</ul>
			</div>
			<!-- /panel left -->
