<div class='nd2-sidepanel-profile wow fadeInDown'>
	<img class='profile-background' src="img/panel.user.bg.jpg" />
	<div class="row">
		<div class='col-xs-4 center-xs'>
			<div class='box'>
				<img class="profile-thumbnail" src="img/panel.user.thumb.jpg" />
			</div>
		</div>
		<div class='col-xs-8'>
			<div class='box profile-text'>
				<strong id="username_lbl" data-bind="text: name">Senjosei</strong>
				<span class='subline' id="id_lbl" data-bind="text: id">101410503</span>
			</div>
		</div>
	</div>
</div>
<ul data-role="listview" data-icon="false" style="margin:1em -1em">
	<li><a href="#index"><i class="zmdi zmdi-home clr-light-blue"></i>&nbsp;&nbsp;&nbsp;&nbsp;Home</a></li>
	<li><a href="#add"><i class="zmdi zmdi-collection-add clr-red"></i>&nbsp;&nbsp;&nbsp;&nbsp;Add Entry</a></li>
	<li><a href="#view"><i class="zmdi zmdi-collection-text clr-teal"></i>&nbsp;&nbsp;&nbsp;&nbsp;View Entry</a></li>
	<li><a href="#">Apple</a></li>
	<hr/>
	<li><a href="#about"><i class="zmdi zmdi-account-box clr-deep-purple"></i>&nbsp;&nbsp;&nbsp;&nbsp;About</a></li>
</ul>